{% extends 'base.html' %}
{% block content %}
<div class="doc">
    <br><br>
<h1>Hello Student,</h1>
<h4> and Welcome to Online Examination System</h4><br><br><br>
<h5 >Select any of them to access into the system</h5>

    <button>`Create Your Account</button>
    <button >Login Now</button>


</div><br><br><br><br><br>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <span class="navbar-text">Online Examination System</span>
  </div>
</nav>


{% endblock %}
