{% extends 'base.html' %}
{% block content %}
<div class="doc2">
<h1>Hello teacher 3,</h1>
<h4> Your Account has not been ACTIVATED yet!</h4> <br><br>
<h4>Waiting for approval from the administrator</h4><br><br>
<h4>and Soon you'll be able to access your Account after approval</h4><br>
<hr>
<br>
<button>Logout Now</button>
<br><br>
</div>
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white ">
  <div class="container-fluid">
    <span class="navbar-text ">Online Examination System</span>
  </div>
</nav>

{% endblock %}